## Udacity - Exploring Weather Trends

In [19]:

import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import sys

In [20]:
print('Python version :'+ sys.version)
print('Pandas version :'+ pd.__version__)

Python version :3.8.0 (default, Dec 26 2019, 15:35:22)
[Clang 11.0.0 (clang-1100.0.33.16)]
Pandas version :0.25.3

### Importing Data

In [21]:
df = pd.read_csv('AvgTemp.csv').set_index('year')
df

      city_avg  global_avg
year
1796     24.49        8.27
1797     25.18        8.51
1798     24.65        8.67
1799     24.81        8.51
1800     24.85        8.48
...        ...         ...
2009     25.73        9.51
2010     25.71        9.70
2011     25.36        9.52
2012     26.04        9.51
2013     26.61        9.61

[218 rows x 2 columns]

### Finding moving avg for global temperature

In [22]:
global_mov_avg = df['global_avg'].rolling(10).mean().dropna()
global_mov_avg

year
1805    8.551
1806    8.567
1807    8.544
1808    8.440
1809    8.297
        ...
2009    9.493
2010    9.543
2011    9.554
2012    9.548
2013    9.556
Name: global_avg, Length: 209, dtype: float64

### Finding moving avg for city temperature (Bangalore)

In [23]:
city_mov_avg = df['city_avg'].rolling(10).mean().dropna()
city_mov_avg

year
1805    24.981
1806    25.019
1807    24.926
1822    23.927
1823    23.966
         ...
2009    25.524
2010    25.561
2011    25.544
2012    25.572
2013    25.641
Name: city_avg, Length: 184, dtype: float64

### Data visualization using Matplotlib

In [24]:
plt.plot(global_mov_avg,label = 'Global')
plt.plot(city_mov_avg,label='Bangalore')
plt.legend()

plt.xlabel("Years")
plt.ylabel("Temperature")
plt.title("Global Avg Temp vs City Avg Temp")
plt.show()