In [1814]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [1815]:
df_08 = pd.read_csv('all_alpha_08.csv')
df_08.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Stnd,Underhood ID,Veh Class,Air Pollution Score,FE Calc Appr,City MPG,Hwy MPG,Cmb MPG,Unadj Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT03.7PKR,SUV,7,Drv,15,20,17,22.0527,4,no
1,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT03.7PKR,SUV,6,Drv,15,20,17,22.0527,4,no
2,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXT02.3DKR,SUV,7,Drv,17,22,19,24.1745,5,no
3,ACURA RDX,2.3,(4 cyl),Auto-S5,4WD,Gasoline,FA,B5,8HNXT02.3DKR,SUV,6,Drv,17,22,19,24.1745,5,no
4,ACURA RL,3.5,(6 cyl),Auto-S5,4WD,Gasoline,CA,U2,8HNXV03.5HKR,midsize car,7,Drv,16,24,19,24.5629,5,no

In [1816]:
df_08.describe()

             Displ  Unadj Cmb MPG
count  2404.000000    2205.000000
mean      3.748918      23.916104
std       1.335785       6.366170
min       1.300000      10.018400
25%       2.500000      19.113900
50%       3.500000      23.921300
75%       4.800000      27.869300
max       8.400000      65.777800

In [1817]:
df_08.shape

(2404, 18)

In [1818]:
df_08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2404 entries, 0 to 2403
Data columns (total 18 columns):
Model                   2404 non-null object
Displ                   2404 non-null float64
Cyl                     2205 non-null object
Trans                   2205 non-null object
Drive                   2311 non-null object
Fuel                    2404 non-null object
Sales Area              2404 non-null object
Stnd                    2404 non-null object
Underhood ID            2404 non-null object
Veh Class               2404 non-null object
Air Pollution Score     2404 non-null object
FE Calc Appr            2205 non-null object
City MPG                2205 non-null object
Hwy MPG                 2205 non-null object
Cmb MPG                 2205 non-null object
Unadj Cmb MPG           2205 non-null float64
Greenhouse Gas Score    2205 non-null object
SmartWay                2404 non-null object
dtypes: float64(2), object(16)
memory usage: 338.2+ KB

In [1819]:
### Finding no of non-null unique values
df_08.SmartWay.nunique()

2

In [1820]:
df_08['Sales Area'].nunique()

3

In [1821]:
df_08.Trans.nunique()

14

In [1822]:
df_08.Cyl.nunique()

8

In [1823]:
### Finding no of rows with null values
df_08.isnull().any(axis=1).sum()

199

In [1824]:
### Finding no of duplicated values
sum(df_08.duplicated())

25

In [1825]:
df_18 = pd.read_csv('all_alpha_18.csv')
df_18.head()

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Stnd,Stnd Description,Underhood ID,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay,Comb CO2
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386
1,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,CA,U2,California LEV-II ULEV,JHNXT03.5GV3,small SUV,3,20,28,23,5,No,386
2,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,FA,T3B125,Federal Tier 3 Bin 125,JHNXT03.5GV3,small SUV,3,19,27,22,4,No,402
3,ACURA RDX,3.5,6.0,SemiAuto-6,4WD,Gasoline,CA,U2,California LEV-II ULEV,JHNXT03.5GV3,small SUV,3,19,27,22,4,No,402
4,ACURA TLX,2.4,4.0,AMS-8,2WD,Gasoline,CA,L3ULEV125,California LEV-III ULEV125,JHNXV02.4WH3,small car,3,23,33,27,6,No,330

In [1826]:
df_18.describe()

             Displ          Cyl  Air Pollution Score  Greenhouse Gas Score
count  1609.000000  1609.000000          1611.000000           1611.000000
mean      3.055687     5.479180             3.958411              4.711359
std       1.344574     1.749121             1.824303              1.657429
min       1.200000     3.000000             1.000000              1.000000
25%       2.000000     4.000000             3.000000              4.000000
50%       3.000000     6.000000             3.000000              5.000000
75%       3.600000     6.000000             5.000000              6.000000
max       8.000000    16.000000            10.000000             10.000000

In [1827]:
df_18.shape

(1611, 18)

In [1828]:
df_18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1611 entries, 0 to 1610
Data columns (total 18 columns):
Model                   1611 non-null object
Displ                   1609 non-null float64
Cyl                     1609 non-null float64
Trans                   1611 non-null object
Drive                   1611 non-null object
Fuel                    1611 non-null object
Cert Region             1611 non-null object
Stnd                    1611 non-null object
Stnd Description        1611 non-null object
Underhood ID            1611 non-null object
Veh Class               1611 non-null object
Air Pollution Score     1611 non-null int64
City MPG                1611 non-null object
Hwy MPG                 1611 non-null object
Cmb MPG                 1611 non-null object
Greenhouse Gas Score    1611 non-null int64
SmartWay                1611 non-null object
Comb CO2                1611 non-null object
dtypes: float64(2), int64(2), object(14)
memory usage: 226.7+ KB

In [1829]:
### Finding no of rows with null values
df_18.isnull().any(axis=1).sum()

2

In [1830]:
### Finding no of duplicated rows
sum(df_18.duplicated())

0

In [1831]:
### Finding no of non-null unique values
df_18.SmartWay.nunique()

3

In [1832]:
df_18['Cert Region'].nunique()

2

In [1833]:
df_18.Cyl.nunique()

7

In [1834]:
df_18.Fuel.eq('CNG').any()

False

In [1835]:
df_18.Fuel.eq('Gasoline').any()

True

In [1836]:
df_18.Fuel.eq('Ethanol/Gas').any()

True

In [1837]:
df_18.Fuel.eq('Electricity').any()

True

In [1838]:
df_18.Fuel.eq('Gasoline/Electricity').any()

True

In [1839]:
df_08.Fuel.eq('CNG').any()

True

In [1840]:
df_08.Fuel.eq('Gasoline').any()

True

In [1841]:
df_08.Fuel.eq('Ethanol/Gas').any()

False

In [1842]:
df_08.Fuel.eq('Electricity').any()

False

In [1843]:
df_08.Fuel.eq('Gasoline/Electricity').any()

False

In [1844]:
# dropping columns

column_08= ['Stnd', 'Underhood ID', 'FE Calc Appr', 'Unadj Cmb MPG']
column_18 = ['Stnd', 'Stnd Description', 'Underhood ID', 'Comb CO2']

df_08.drop(column_08,axis=1, inplace=True)
df_08.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Sales Area,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no

In [1845]:
df_18.drop(column_18,axis=1,inplace=True)
df_18.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,small SUV,3,20,28,23,5,No

In [1846]:
#Renameing columns
df_08.rename(columns={'Sales Area':'Cert Region'},inplace=True)
df_08.head(1)

,Model,Displ,Cyl,Trans,Drive,Fuel,Cert Region,Veh Class,Air Pollution Score,City MPG,Hwy MPG,Cmb MPG,Greenhouse Gas Score,SmartWay
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no

In [1847]:
#Replacing space in column name with underscore
df_08.rename(columns = lambda x: x.strip().lower().replace(" ","_"),inplace=True)
df_08.head(1)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no

In [1848]:
df_18.rename(columns = lambda x: x.strip().lower().replace(" ","_"),inplace=True)
df_18.head(1)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,FA,small SUV,3,20,28,23,5,No

In [1849]:
df_08.to_csv('data_08_v1.csv', index=False)
df_18.to_csv('data_18_v1.csv', index=False)

In [1850]:
df08 = pd.read_csv('data_08_v1.csv')
df18 = pd.read_csv('data_18_v1.csv')

In [1851]:
# filtering with column values
df08.query('cert_region == "CA"',inplace=True)
df08.head(1)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
0,ACURA MDX,3.7,(6 cyl),Auto-S5,4WD,Gasoline,CA,SUV,7,15,20,17,4,no

In [1852]:
df18.query('cert_region == "CA"',inplace=True)
df18.head(1)

,model,displ,cyl,trans,drive,fuel,cert_region,veh_class,air_pollution_score,city_mpg,hwy_mpg,cmb_mpg,greenhouse_gas_score,smartway
1,ACURA RDX,3.5,6.0,SemiAuto-6,2WD,Gasoline,CA,small SUV,3,20,28,23,5,No

In [0]:
#Drop columns with cert_region
df08.drop(['cert_region'],axis=1,inplace=True)
df18.drop(['cert_region'],axis=1,inplace=True)

In [0]:
df08.head(1)

In [0]:
df18.head(1)

In [0]:
##Find missing values in each column

df08.isnull().sum()

In [0]:
df18.isnull().sum()

In [0]:
    ## drop rows with any null value
    df08.dropna(inplace=True)
    df18.dropna(inplace=True)

In [0]:
df08.isnull().sum().any()

In [0]:
df18.isnull().sum().any()

In [0]:
## Drop duplicates
df08.drop_duplicates(inplace=True)
df08.duplicated().sum()

In [0]:

df18.drop_duplicates(inplace=True)
df18.duplicated().sum()

In [0]:
## Extract integer from string values

df08['cyl'] = df08['cyl'].str.extract('(\d+)').astype(int)
df08.head()

In [0]:
df08['cyl'].value_counts()

In [0]:
df18['cyl']=df18['cyl'].astype(int)
df18.head()

In [0]:
df18.info()